{{- $xinshoutw_pi      := bitwarden "xinshoutw Pi"        -}}
{{- $xinshoutw_pi_host := $xinshoutw_pi | getField "host" -}}
{{- $xinshoutw_pi_port := $xinshoutw_pi | getField "port" -}}
{{- $xinshoutw_pi_user := $xinshoutw_pi | getField "user" -}}

{{- $sam_karakeep      := bitwarden "Sam Karakeep"        -}}
{{- $sam_karakeep_host := $sam_karakeep | getField "host" -}}
{{- $sam_karakeep_port := $sam_karakeep | getField "port" -}}
{{- $sam_karakeep_user := $sam_karakeep | getField "user" -}}

{{- $wavjaby_vps       := bitwarden "WavJaby VPS"         -}}
{{- $wavjaby_vps_host  := $wavjaby_vps  | getField "host" -}}
{{- $wavjaby_vps_port  := $wavjaby_vps  | getField "port" -}}
{{- $wavjaby_vps_user  := $wavjaby_vps  | getField "user" -}}


# --- External Server (Protect by Bitwarden) ---

Host xs-pi
  HostName {{ $xinshoutw_pi_host }}
  Port {{ $xinshoutw_pi_port }}
  User {{ $xinshoutw_pi_user }}
  PreferredAuthentications publickey

Host xs-sam
  HostName {{ $sam_karakeep_host }}
  Port {{ $sam_karakeep_port }}
  User {{ $sam_karakeep_user }}

Host wav-vps
  HostName {{ $wavjaby_vps_host }}
  Port {{ $wavjaby_vps_port }}
  User {{ $wavjaby_vps_user }}
  PreferredAuthentications publickey


# --- VM ---
Host xs-ubuntu
  HostName 10.211.55.7
  Port 22
  User b11315009

