{{- $xinshoutw_pi_host := (bitwardenFields "item" "SSH xinshoutw Pi").host.value -}}
{{- $xinshoutw_pi_port := (bitwardenFields "item" "SSH xinshoutw Pi").port.value -}}
{{- $xinshoutw_pi_user := (bitwardenFields "item" "SSH xinshoutw Pi").user.value -}}

{{- $sam_karakeep_host := (bitwardenFields "item" "SSH Sam Karakeep").host.value -}}
{{- $sam_karakeep_port := (bitwardenFields "item" "SSH Sam Karakeep").port.value -}}
{{- $sam_karakeep_user := (bitwardenFields "item" "SSH Sam Karakeep").user.value -}}

{{- $wavjaby_vps_host  := (bitwardenFields "item" "SSH WavJaby VPS").host.value -}}
{{- $wavjaby_vps_port  := (bitwardenFields "item" "SSH WavJaby VPS").port.value -}}
{{- $wavjaby_vps_user  := (bitwardenFields "item" "SSH WavJaby VPS").user.value -}}


# --- External Server (Protect by Bitwarden) ---
Host xs-pi
  HostName {{ $xinshoutw_pi_host }}
  Port {{ $xinshoutw_pi_port }}
  User {{ $xinshoutw_pi_user }}
  PreferredAuthentications publickey

Host sam-karakeep
  HostName {{ $sam_karakeep_host }}
  Port {{ $sam_karakeep_port }}
  User {{ $sam_karakeep_user }}

Host wav-vps
  HostName {{ $wavjaby_vps_host }}
  Port {{ $wavjaby_vps_port }}
  User {{ $wavjaby_vps_user }}
  PreferredAuthentications publickey


# --- VM ---
Host xs-ubuntu
  HostName 10.211.55.7
  Port 22
  User b11315009

